.folder-title::before {
    content: "";
    position: absolute;
    background: #fff;
    right: -12px;
    bottom: 0;
    height: 12px;
    width: 12px;
    border-radius: 0 100% 0 0;
}

.folder-title::after {
    content: "";
    position: absolute;
    background: #f3f4f6;
    right: -15px;
    bottom: 0px;
    height: 15px;
    width: 15px;
    border-radius: 4px;
}