.user-details-page .edit-button{
    position: relative;
}
.user-details-page .edit-button::before{
    content: "";
    width: 10px;
    height: 1px;
    background-color: #0d6efd;
    position: absolute;
    top: 50%;
    left: -10px;
}