.save-button {
    position: relative;
}

.save-button::before {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #0d6efd;
    position: absolute;
    top: 50%;
    left: -10px;
}